*{
    padding: 0;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

main{
    text-align: -webkit-center;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.highlight{
    position: relative;
    z-index: 1055 !important;
}


#gameOverModal{
    z-index: 2000 !important;
}

.midCardLeft li{
    transform: rotate(90deg);
}

.midCardRight li{
    transform: rotate(270deg);
}

.dragable{
    cursor: grab;
}

.playerCard{
    cursor: pointer;
}

.playerCard:hover{
    opacity: 90%;
    margin-bottom: 1rem;
}

.modal{
    padding-right: 0!important;
}
.modal-backdrop{
    width: 100%!important;
    height: 100%!important;
}

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1061 !important;
}
    